 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 body {
      font-family: 'Poppins', sans-serif;
      
      
      
 }

 #me{
     font-size: 300px;
 }

 .wave {
     position: fixed;
     height: 100%;
     top: 0;
     bottom: 0;
     z-index: -1;
 }
 .container {
     width: 100vw;
     height: 100vh;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 10 rem;
     padding: 0.2rem;   
 }

 .img img {
     width: 500px;
 }

 .img {
     display: flex;
     justify-content: flex-end;
     align-items: center;

 }

 .login-container {
     display: flex;
     align-items: center;
     text-align: center;
     margin-left: 200px;
     margin-top: -100px;
 }

 #donate-icon {
      width: 150px;
 }

 form {
     width: 360px;
     
 }

 form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0px;
    color: #161111;
 }

 .input-div {
      display: grid;
      grid-template-columns: 7% 93%;
      margin: 25px 0px;
      padding: 5px 0px;
      border-bottom:  2px solid #d9d9d9;

 }


 .input-div.one{
     margin-top: 0;
 }
 .input-div.one{
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: #999;
}

.input-div > div {
    position: relative;
    height: 45px;
}
.input-div > div h5 {
    position: absolute;
    top: 10px;
    left: 50px;
    color: #999;
    transform: translateX(-50%);
    font-size: 18px;
    transition: .3s;
    

}
    .input-div.focus .i i {
        color: red;
    }
      
    #full-name{
       top: -6px;
       font-size: 16px;
    }
     
#momo {
    left: 70px;
    top: -7px;
    font-size: 16px;
}

#amt {
    
    top: -7px;
    font-size: 16px;
}

#amt-input {
    margin-top: -10px;
}

#note{
    position: absolute;
    top: 100px;
    left: 300px;
    font-size: 20px !important;

}  

#failed {
    position: absolute;
    top: 35px;
    left: 550px;
    font-size: 35px;

}

.input {
    position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   border: none;
   outline: none;
   background: none;
   padding: 0.5rem 0.7rem;
   font-size: 1.2rem;
    color: #555; 
   

   font-family: 'Poppins', sans-serif;
}

#btn {
    width: 100%;
    display: block;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 17px;
    background-image: linear-gradient(to right,  #ff0000, #FF0000, #FF0000);
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: .5s;   
    margin: 5px 0;
    text-transform: uppercase;
}

 #btn:hover{
     background-position: right;
     background-image: linear-gradient(to right, #240f0f ,#240f0f);
 }  
/* Sucess */
  h1.sucess-note{
      color: rgb(27, 15, 15);
      font-size: 15px;
      position: relative;
      left: 50px;
  }
.sucess-container{
    position: relative;
    margin-top: 50px;
}

#donation-sucess{
    position: absolute;
    top: 180px;
    left: 220px;
}


  /* Update  */
.update-container{
    position: relative;
}
  #update{
    margin-top: 100px;
    position: absolute;
    top: 150px;
    left: 250px;
  }
  #gif {
      position: relative;
      left: 100px;
  }
  #gif-update{
    width: 90px;
     position: relative;
      top:0px; left: 120px; 
  }
  #update-txt {
      font-size: 40px;
    
  }
  .btn-danger{
      background-color: #ff0000;
      margin-top: 20px;
      position: relative;
      left: 400px;
      font-size: 20px;
    }
  
 #member {
     width: 100%;
     top: -11px;
     position: absolute;
     left: 149px;
     font-size: 16px;
 }
  
 /* large devices */
 @media (min-width: 1200px){
    
  }
  /* medium devices */
  @media (min-width: 992px) and (max-width: 1199px){


  }

  /* small  devices*/
  @media (min-width: 768px) and (max-width: 991px) {

  }
  /* extra small devices */
  @media (max-width: 767px){
    
    .wave {
        display: none;
        height: 0px;
        width: 0px;
    }
    .img > img {
        display: none;
        height: 0px;
    }
     
     .container {

         height: 100%;
         padding-left: 0px;
         grid-template-columns: none;
         position: relative;

     }
     .login-container{
             margin-top: 35px;
             position: fixed;
             right: 2.5px;
     }
       #btn {
           width: 95%;
           margin-left: 10px;
       }
      #donate-icon {
          width: 200px;
      } 
       form h2 {
           font-size: 30px;
       }  
       
       .i {
           margin-left: 5px;
       }

     }